S3method(print,cdmc_bootstrap)
S3method(print,cdmc_adaptive_balance_weights)
S3method(print,cdmc_cbps_weights)
S3method(print,cdmc_entropy_balance_weights)
S3method(print,cdmc_kernel_balance_weights)
S3method(print,cdmc_carryover_refit_test)
S3method(print,cdmc_carryover_test)
S3method(print,cdmc_anticipation_test)
S3method(print,cdmc_dose_response)
S3method(print,cdmc_dynamic_estimand)
S3method(print,cdmc_dr_fit)
S3method(print,cdmc_equivalence_test)
S3method(print,cdmc_joint_placebo_test)
S3method(print,cdmc_lambda_control)
S3method(print,cdmc_placebo_test)
S3method(print,cdmc_scia_test)
S3method(print,cdmc_sensitivity_bounds)
S3method(print,cdmc_sensitivity_scan)
S3method(print,summary.cdmc_dr_fit)
S3method(print,summary.cdmc_sensitivity_bounds)
S3method(print,summary.cdmc_sensitivity_scan)
S3method(predict,cdmc_dose_response)
S3method(predict,cdmc_fit)
S3method(print,cdmc_fit)
S3method(print,summary.cdmc_fit)
S3method(summary,cdmc_bootstrap)
S3method(summary,cdmc_dose_response)
S3method(summary,cdmc_dr_fit)
S3method(summary,cdmc_dynamic_estimand)
S3method(summary,cdmc_fit)
S3method(summary,cdmc_sensitivity_bounds)
S3method(summary,cdmc_sensitivity_scan)
export(cdmc_bootstrap)
export(cdmc_adaptive_balance_weights)
export(cdmc_cbps_weights)
export(cdmc_entropy_balance_weights)
export(cdmc_kernel_balance_weights)
export(cdmc_carryover_refit_test)
export(cdmc_carryover_test)
export(cdmc_anticipation_test)
export(cdmc_dose_response)
export(cdmc_dynamic_estimand)
export(cdmc_dr_fit)
export(cdmc_dr_score_contrast)
export(cdmc_equivalence_test)
export(cdmc_fit)
export(cdmc_joint_placebo_test)
export(cdmc_lambda_control)
export(cdmc_placebo_test)
export(cdmc_scia_test)
export(cdmc_sensitivity_bounds)
export(cdmc_sensitivity_scan)
export(simulate_cdmc_data)


